* { margin: 0px;
    
}
body{
    background-color: #ebf2ff;
    box-sizing: border-box;
}
.container{
    max-width: 100%;
   padding: 0 20px;
   margin: 0 auto;
}
.navbar {
    background-color: white;
    display: flex;
    justify-content:space-between ;
    align-items:center;
    height: 50px;

    z-index: 9999;
    
}
.navbar_brand{
    height: 80px;
    width: 80px;
}
.logo{
    margin-left: 10px;
    width: 100%;
    height: 100%;
}
button{
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    margin-right: 30px;
}
#primary_button{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,#dd2476 51%,
        #ff512f 100%
    );
}
.hero{
    width: 100%;
}
.pic{
    width: 100%;
    box-shadow: 0px 25px 50px -12px rgba(0,0,0, 25);
    border-radius:8px  ;
}
.hero_text{
    font-size: 30px;
    margin:20px 0;

}
.explore_menu_text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.food_card{
    background-color: white;
    border-radius: 8px;
    margin-bottom: 15px;
}

.food_card_img{
    width: 100%;
}
.food_img{
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.food_card_description{
    padding: 12px;
}
.view_more_btn{
    display: flex;
    justify-content: center;
}


.first_row_img{
    width: 100%;
}

.first_img,.second_img{
    width: 100%;
    display: flex;
}

.second_row_img{
    width: 100%;
}

.fourth_img,.third_img{
    width: 100%;
 }  


 /*flex*/

.restaurent_container{
    width: 100%;
}
.restaurent_images_row_one,.restaurent_images_row_two{
    width: 100%;
    display:flex;
    gap: 5px;
}
.restaurent_images_row_one
    {
        align-items: baseline;
        margin-bottom: 3px;

    }




.restaurent_image_1,.restaurent_image_4{
    width: 100%;
    height: 150px;
}
.restaurent_image_2,.restaurent_image_3{
    width: 120%;
    height: 250px;
}


.restauret_1,.restauret_2,.restauret_3,.restauret_4{
    width: 100%;
    height: 100%;
}


.restaurent_text{
     font-size: 30px;
     margin-top: 80px;

}
#secondary_button{background-image: linear-gradient(
    to right,
    #ff512f 0%,#dd2476 51%,
    #ff512f 100%
);
   font-size: 12px;
   height: 30px;
}
.form_title{

    display: flex;
    gap: 8px;
}
.title{
    margin-top: 15px;
    margin-bottom:10px ;
}

.form_container{
    margin: 20px;
  
}

.last_footer{
    justify-content: space-around;
    display:flex;
    align-items: center;
}
.f_logo{
    height: 50px;
    width: 50%;
}
.foot_log{
    height: 100%;
    width: 100%;
}
ul{
    list-style: none;}

.last_step{
    position: relative;
}

#f_gradient{
  

    margin-top: 50px;
    width: 100%;
    height: 120px;
    background-color: #e23744;
    border-radius: 20px;

  

}







 @media (min-width:768px){
    button{
        margin-right: 30px;
    }
    .hero_container{
      
        margin-top: 30px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .expore_menu_list{
       
        margin-top: 30px;
        display: flex;
        gap: 16px;
        padding:0 25px;
    }
    #piza_card{
            margin-top: -30px;
            margin-bottom: 50px;
        }
        .view_more_btn{
            display: flex;
            justify-content: center;
        }
        .explore_menu_container{
            margin-top: 80px;
            position: relative;
            
        }
        #gradient{
            
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                #ff512f 0%,#dd2476 51%,
                #ff512f 100%
            );
            
            z-index: -2;
            transform:skewY(-5deg);
            
        }
        .restaurent_container{
            margin-top: 30px;
            display: flex;
            align-items: center;
            
        }
        .restaurent_text{
            font-size: 50px;
            width: 1100%;
        }


       .form_container{
          
           margin-top: 40px;
      
      
    }
    .form_title{
       justify-content: center;
        display: flex;
        gap: 8px;
        
    }
    .title{
        text-align:left;
        margin-left: 220px;
        margin-top: 15px;
        margin-bottom:10px ;
    }

    .f_logo{
        height: 100px;
        width: 200px;
    }
    .foot_log{
        height: 100%;
        width: 100%;

    }#f_gradient{
        border-radius: 20px;

        margin-top: 50px;
        width: 100%;
        height: 110px;
        background-color: #e23744;
     
    }
}





@media (min-width:1020px){
    .hero_description{
        width: 100%;
    }
    .hero_text{
        font-size: 50px;
    }
    .explore_menu_text{
        font-size: 50px;
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
    }
    .title{
        text-align:left;
        margin-left: 495px;
        margin-top: 15px;
        margin-bottom:10px ;
    }
}






@media (min-width:1360px){
    .container{
        max-width: 1150px;
    }
    
    
}